body {
  margin: 0px;
}

a:visited {
  text-decoration: none;
  color: "black";
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

.user {
  display: flex;
  width: 100px;
  /* Set your desired width */
  height: 100px;
  /* Set your desired height */
  border-radius: 50%;
  background-color: #544caf;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
}

button {
  background-color: #544caf;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}

.autoFillItem {
  background-color: rgb(247, 247, 247);
  color: black;
  border: 1px solid gray;
}

.autoFillItem:hover {
  background-color: #dddddd;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}